@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
body {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #e5e7eb; /* Couleur du thumb et track */
}

body::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
}

body::-webkit-scrollbar-track {
  background: #e5e7eb; /* Couleur de l'arrière-plan */
}

body::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* Couleur de la scrollbar */
  border-radius: 4px; /* Arrondi */
  border: 2px solid transparent; /* Ajout d'un espace */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #1d4ed8; /* Couleur au survol */
}
